.advantages{
    margin-top: 80px;
    @include tablet{
        border-bottom: 1px solid $mobile-border-color;
        padding-bottom: 55px;
    }
    @include mobile{
        margin-top: 35px;
    }
    &__title{
        margin: 0;
        font-size: 60px;
        @include mobile{
            font-size: 36px;
        }
    }
    &__list{
        @include reset-list;
        display: flex;
        margin-top: 65px;
        justify-content: space-between;
        @include tablet{
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @include mobile{
            margin-top: 35px;
        }
    }
    &__item{
        position: relative;
        max-width: 205px;
        min-height: 230px;
        counter-increment: feature__number; 
        @include tablet{
            &:nth-child(2n){
                margin-left: 190px;
            }
            &:not(:nth-child(1)):not(:nth-child(2)){
                margin-top: 90px;
            }
        }
        @include mobile{
            max-width: none;
            min-height: 0;
            display: flex;
            align-items: center;
            &:nth-child(2n){
                margin-left: 0;
            }
            &:not(:nth-child(1)):not(:nth-child(2)){
                margin-top: 0;
            }
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        //Icon
        &--leaf::before{
            content: url('../img/raster/advantage-leaf.png');
        }
        &--powder::before{
            content: url('../img/raster/advantage-powder.png');
        }
        &--meal::before{
            content: url('../img/raster/advantage-meal.png');
        }
        &--clock::before{
            content: url('../img/raster/advantage-clock.png');
        }
        &::before{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            background: $advantages-icon-color;
        }
        //Number
        &::after{
            content: counter(feature__number);
            position: absolute;
            z-index: -5;
            top: -60px;
            right: -35px;
            
            font-size: 280px;
            color: $advantages-number-color;
            @include mobile{
                content: none;
            }
        }
    }
    &__description{
        padding: 0;
        margin-top: 35px;
        font-family: $arial;
        color: $text-tertiary-color;
        @include mobile{
            margin: 0;
            margin-left: 20px;
        }
    }
}