.stats-list{
    @include reset-list;
    display: flex;
    &__item{
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 3px;
        border: 1px solid $border-primary-color;
        padding: 20px;
        padding-bottom: 25px;
    }
    &__item + &__item{
        margin-left: 40px;
    }
    &__value{
        font-size: 30px;
        text-transform: uppercase;
        @include mobile{
            font-size: 24px;
        }
    }
    &__description{
        position: absolute;
        padding: 0 10px;
        bottom: -7px;
        
        font-family: $arial;
        font-size: 14px;
        background: $page-secondary-color;
        @include tablet{
            background: $page-main-color;
        }
        @include mobile{
            // display: inline-block;
            bottom: -15px;
            text-align: center;
            max-width: 65px;
            font-size: 12px;
        }
    }
}
.example{
    margin-top: 25px;
    @include tablet{
        margin: 0;
    }
    & .container{
        display: flex;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
        }
    }
    &__title{
        padding: 65px 0;

        font-size: 60px;
        @include tablet{
            margin: 0;
            padding: 0;
            margin-top: 50px;
        }
        @include mobile{
            font-size: 36px;
            margin-top: 35px;
        }
    }
    &__wrapper{
        background: $page-secondary-color;
        padding-bottom: 75px;
        @include tablet{
            padding: 0;
            background: $page-main-color;
        }
        & .container{
            @include tablet{
                padding: 0;
                width: auto;    
            }
        }
    }
    &__inner{
        @include tablet{
            padding: 0 30px;
            width: 708px;
            margin: 0 auto;
        }
        @include mobile{
            width: auto;
            padding: 0 20px;
        }
    }
    &__stats-wrapper{
        margin-top: 70px;
        @include tablet{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include mobile{
            flex-direction: column;
            margin-top: 30px;
        }
    }
    &__description{
        margin-top: 75px;
        padding: 0;
        max-width: 430px;
        font-family: $arial;
        @include tablet{
            max-width: none;
        }
        @include mobile{
            margin-top: 35px;
        }
    }
    &__list .stats-list__item{
        min-width: 125px;
        @include mobile{
            min-width: 83px;
        }
    }
    &__costs{
        padding: 0;
        margin-top: 60px;
        text-transform: uppercase;
        font-size: 20px;
        @include tablet{
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        @include mobile{
            margin-top: 40px;
            flex-direction: row;
        }
        & span + span{
            margin-left: 65px;
            @include tablet{
                margin-left: auto;
            }
            @include mobile{
                margin-left: 5px;
            }
        }
    }
}
.slider{
    @include tablet{
        background: $page-secondary-color;
        margin-top: 240px;
        // margin: 0 auto;
        // width: 708px;
        
    }
    &__wrapper{
        @include tablet{
            margin: 0 auto;
            width: 708px;
            padding: 0 30px 75px;
        }
        @include mobile{
            width: auto;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__photo{
        margin-top: -180px;
        @include mobile{
            width: 100%;
            // height: 232px;  
        }
    }
    &__scale, &__grip{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__scale{
        flex-grow: 1;
        height: 6px;
        background: $scale-background-color;
        border-radius: 3px;
    }
    &__grip{
        border-radius: 50%;
        width: 34px;
        height: 34px;
        box-shadow: $grip-shadow;
        border: 1px solid $border-primary-color;
        background: $page-main-color;
        &::before{
            content: '';
            background: $button-main-color;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: block;
        }
        &:hover{
            cursor: pointer;
            box-shadow: $grip-hover-shadow;
        }
    }
    &__text{
        text-transform: uppercase;
        border-bottom: 1px dotted rgba($color: $text-primary-color, $alpha: 0.25);
        padding-bottom: 5px;
        &:first-child{
            margin-right: 25px;
        }
        &:last-child{
            margin-left: 25px;
        }
    }
}
