.slider{
    @include tablet{
        background: $page-secondary-color;
        margin-top: 240px;
        
    }
    @include mobile{
        margin-top: 45px;
    }
    &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            & picture {
                // display: flex;
                // flex-direction: column;
                // width: 690px;
            }
            & picture:nth-child(2){
                // align-self: center;
                // transform: translate(-100%);
                // position: absolute;
                // z-index: 100;
            }
        @include tablet{
            margin: 0 auto;
            max-width: 677px;
            // padding: 0 30px 75px;
            padding: 0;
            margin-bottom: 75px;
            position: relative;
        }
        @include mobile{
            max-width: 350px;
            width: auto;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__photo{
        width: 690px;
        height: 517px;
        margin-top: -180px;
        @include tablet{
            max-width: 677px;
            // height: 499px;
        }
        @include mobile{
            height: 275px;
            max-width: 311px;
            margin-top: 0;

        }
        &--before{
            object-fit: cover;
            object-position: left;
            width: 50%;
            left: 0;
            @include mobile{
                width: 100%;
                margin-left: 8px;
            }
        }
        &--after{
            // align-self: right;
            object-fit: cover;
            object-position: right;
            width: 50%;
            position: absolute;
            // margin-left: auto;
            right: 0;
            bottom: 30px;
            @include tablet{
                // z-index: 10;
                top: 0;
                bottom: 0;
                // max-width: 311px;
                // left: 0;
                // right: 30px;
            }
            @include mobile{
                // max-width: 251px;
                width: 0;
                object-position: right;

                // transform: translate(30px);
                // left: 30px;
            }
        }
    }
    &__scale, &__grip{
        display: flex;
        align-items: center;
    }
    &__scale{
        width: 430px;
        height: 6px;
        background: $scale-background-color;
        border-radius: 3px;
        @include mobile{
            width: 85px;
        }
    }
    &__grip{
        transform: translate(-50%);
        margin-left: 50%;
        flex-shrink: 0;
        justify-content: center;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        box-shadow: $grip-shadow;
        border: 1px solid $border-primary-color;
        background: $page-main-color;
        &::before{
            content: '';
            background: $button-main-color;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: block;
        }
        &:hover{
            cursor: pointer;
            box-shadow: $grip-hover-shadow;
        }
    }
    &__text{
        text-transform: uppercase;
        border-bottom: 1px dotted rgba($color: $text-primary-color, $alpha: 0.25);
        padding-bottom: 5px;
        font-size: 20px;
        @include mobile{
            font-size: 16px;
        }
        &:first-child{
            margin-right: 25px;
        }
        &:last-child{
            margin-left: 25px;
        }
    }
}