.stats-list{
    @include reset-list;
    display: flex;
    @include mobile{
        max-width: 290px;
        width: 100%;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border-radius: 3px;
        border: 1px solid $border-primary-color;
        padding: 20px;
        padding-bottom: 25px;
        @include mobile{
            padding: 20px 18px 25px;
        }
    }
    &__item + &__item{
        margin-left: 40px;
        @include mobile{
            margin-left: 0;
        }
    }
    &__value{
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        @include mobile{
            font-size: 24px;
        }
    }
    &__description{
        position: absolute;
        padding: 0 10px;
        bottom: -7px;
        
        font-family: $arial;
        font-size: 14px;
        background: $page-secondary-color;
        @include tablet{
            background: $page-main-color;
        }
        @include mobile{
            bottom: -15px;
            text-align: center;
            max-width: 65px;
            font-size: 12px;
        }
    }
}