.catalog{
    &-more{
        text-align: center;
        width: 167px;
        padding: 40px 38px 40px 38px;
        border: 1px solid $border-primary-color;
        justify-content: center;
        @include mobile{
            border-left: none;
            border-right: none;
            border-color: $mobile-border-color;
            padding: 25px 20px;
            width: auto;
        }
        &__plus{
            position: relative;
            height: 60px;
            width: 60px;
            @include mobile{
                // margin-top: 25px;
                width: 30px;
                height: 30px;
            }
            &::before{
                content: '';
                border-left: 2px solid $border-primary-color;
                height: 60px;
                right: 30px;
                position: absolute;
                @include mobile{
                    height: 30px;
                    right: 15px;
                }
            }
            &::after{
                content: '';
                border-bottom: 2px solid $border-primary-color;
                position: absolute;
                width: 60px;
                bottom: 30px;
                left: 0;
                @include mobile{
                    width: 30px;
                    bottom: 15px;
                }
            }
        }
        &__title{
            max-width: 135px;
            margin: 50px 0 30px 0;
            @include mobile{
                font-size: 16px;
                text-transform: uppercase;
                max-width: none;
                margin: 25px 0 10px 0;
            }
        }
        &__description{
            margin: 0;
            font-family: $arial;
        }
        &__button{
            margin-top: auto;
            width: 100%;
            @include mobile{
                margin-top: 20px;
            }
        }
    }
    &__title{
        font-size: 60px;
        line-height: 60px;
        margin: 85px 40px 15px 40px;
        @include tablet{
            margin-left: 30px;
        }
        @include mobile{
            font-size: 36px;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
    & .container{
        width: 1300px;
        padding: 0;
        @include tablet {
            width: 768px;
            padding: 0 30px;
        }    
        @include mobile{
            width: auto;
            padding: 0;
        }
    }
    &__list{
        @include reset-list;
        display: flex;
        flex-wrap: wrap;
        @include mobile{
            flex-direction: column;
        }
    }
}
.product, .catalog-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
    @include tablet{
        margin-left: 30px;
        margin-right: 30px;
        flex-grow: 1;
    }
    @include mobile{
        margin: 0;
    }
}

.product{
    position: relative;
    background: $page-secondary-color;
    width: 165px;
    padding: 40px;
    @include mobile{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0;
        border-bottom: 1px solid $mobile-border-color;
        background: $page-main-color;
    }
    &:first-child{
        @include mobile{
            border-top: 1px solid $mobile-border-color;
        }
    }
    &__about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        @include mobile{
            margin-left: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
    &__photo-wrapper{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 208px;
        @include mobile{
            position: absolute;
            margin-top: 0;
            left: 25%;
            transform: translate(-50%);
            // min-width: 50%;
        }
    }
    &__title, &__weight{
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        @include mobile{
            text-align: left;
        }
    }
    &__title{
        padding: 0;
        margin: 0;
    }
    &__parameters{
        margin-top: 30px;
    }
    &__button {
        width: 100%;
        margin-top: auto;
    }
}
.parameters-list{
    width: 100%;
    border-collapse: collapse;
    font-family: $arial;
    margin-bottom: 35px;
    @include mobile{
        max-width: 200px;
        font-size: 12px;
        line-height: 16px;
    }
    & tr{
        border-bottom: 1px solid $border-primary-color;
        @include mobile{
            border: none;
        }
    }
    & td{
        padding: 7px 0;
    }
    & td:last-child{
        text-align: right;
    }
}