.extra-goods{
    margin-top: 80px;
    &__title{
        font-size: 36px;
        margin: 0;
    }
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 85px 0;
        @include tablet{
            flex-direction: column;
        }
    }
    &__gift{
        background: url('../img/raster/catalog/gift-photo-desktop.jpg.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 245px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tablet{
            background: url('../img/raster/catalog/gift-photo-tablet.jpg');
            margin-top: 70px;
            position: static;
            width: calc(100% - 180px);
            background-size: center;
            // background-position-y: 60%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 70px 90px;
        }
        &-icon{
            fill: $page-main-color;
        }
        &-slogan{
            font-family: $arial;
            margin: 0;
            margin-top: 65px;
            max-width: 160px;
            color: $text-secondary-color;
            text-align: center;
            @include tablet{
                text-align: left;
                margin: 0;
            }
        }
    }
}
.goods-list{
    @include reset-list;
    display: flex;
    flex-direction: column;
    width: 74%;
    @include tablet{
        width: 100%;
    }
    &__inner{
        display: flex;
        align-items: center;
        flex-grow: 1;
        @include tablet{
            width: 100%;
            justify-content: space-between;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid $border-primary-color;
        @include tablet{
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid $border-primary-color;
            padding: 40px 35px;
        }
        &:first-child{
            border-top: 1px solid $border-primary-color;
        }
    }
    &__description{
        font-family: $arial;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        @include tablet{
            flex-grow: 0;
        }
    }
    &__title{
        font-size: 20px;
        text-transform: uppercase;
        min-width: 320px;
        margin: 0;
    }
    &__button{
        width: 245px;
        margin-left: 45px;
        padding: 13px;
        @include tablet{
            margin-left: 0;
            margin-top: 25px;
            width: 100%;
        }
    }
    &__price{
        max-width: 100px;
        @include tablet{
            margin-left: 25px;
        }
    }
}