.extra-goods{
    margin-top: 80px;
    &__title{
        font-size: 36px;
        margin: 0;
        @include mobile{
            margin-left: -20px;
        }
    }
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 85px 0;
        @include tablet{
            flex-direction: column;
        }
    }
    &__gift{
        background: url('../img/raster/gift-photo-desktop@1x.jpg') no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 245px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include retina{
            background: url('../img/raster/gift-photo-desktop@2x.jpg') no-repeat;
        }
        @include tablet{
            background: url('../img/raster/gift-photo-tablet@1x.jpg') no-repeat;
                margin-top: 70px;
            position: static;
            width: calc(100% - 180px);
            background-size: cover;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 70px 90px;
            @include retina{
                background: url('../img/raster/gift-photo-tablet@2x.jpg') no-repeat;
            }    
        }
        @include mobile{
            background: url('../img/raster/gift-photo-mobile@1x.jpg') no-repeat center;
            background-size: cover;
            flex-direction: column;
            padding: 60px 0 40px 0;
            width: 100%;
            @include retina{
                background: url('../img/raster/gift-photo-mobile@2x.jpg') no-repeat center;
            }    
        }
        &-icon{
            fill: $page-main-color;
        }
        &-slogan{
            font-family: $arial;
            margin: 0;
            margin-top: 65px;
            max-width: 160px;
            color: $text-secondary-color;
            text-align: center;
            @include tablet{
                text-align: left;
                margin: 0;
            }
            @include mobile{
                margin-top: 65px;
                text-align: center;
            }

        }
    }
}