.button-main {
    display: block;
    padding: 15px 25px;

    background-color: $button-main-color;
    color: $text-secondary-color;
    border: none;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
        background-color: $button-main-hover-color;
    }
    &:active{
        color: rgba($color: $text-secondary-color, $alpha: 0.3)
    }
}