// Text
$text-primary-color: #000;
$text-secondary-color: #fff;
$text-tertiary-color: #444444;

//Backgrounds
$page-secondary-color: #f2f2f2;

$promo-bg-color: #68b738;

//Buttons
$button-main-color: #68b738;

//Decoartion-elements
$arrow-primary-color: #3e4242;