// Text
$text-primary-color: #111111;
$text-secondary-color: #ffffff;
$text-tertiary-color: #444444;

//Backgrounds
$page-main-color: #ffffff;
$page-secondary-color: #f2f2f2;

$promo-bg-color: #68b738;

//Buttons
$button-main-color: #68b738;
$button-main-hover-color: #5eaa2f;

//Decoartion-elements
$arrow-primary-color: #3e4242;
$advantages-icon-color: #68b738;
$advantages-number-color: #f2f2f2;  
$border-primary-color: #cdcdcd;
$scale-background-color: #dcdcdc;
$grip-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
$grip-hover-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
$social-hover-color: #68b738;
