.index-columns{
    display: flex;
    justify-content: space-between;
}
.title-line{
    display: inline-flex;
    align-items: center;
    background: $page-main-color;
    padding: 0 40px;   
    margin: 0; 
    margin-left: -40px;
    &::before{
        content: '';
        position: absolute;
        z-index: -5;
        border-bottom: 3px solid green;
        width: 100%;
        left: 0;
    }
    
}