body, h1, h2, h3{
    font-weight: 400;
}
body{
    font-family: $oswald;
    font-size: 16px;
    color: $text-primary-color;
    background: $page-main-color;
}

.container {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
    @include tablet {
        width: 708px;
        padding: 0 30px;
    }
    @include mobile {
        width: auto;
        padding: 0 20px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}