// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
//Opacity
$border-active-opacity: 0.3;
// Viewports
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1299px;
//Pixel
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;