.cat-info{
    margin-bottom: 70px;
    @include mobile{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
        }
    }

}