.form-extra{
    margin-bottom: 60px;    
    &__title{
        font-size: 36px;
    }
    &__list{
        display: flex;
        justify-content: space-between;

        @include reset-list;
        margin-top: 55px;
        @include tablet{
            flex-wrap: wrap;
            width: 530px;
        }
        @include mobile{
            flex-direction: column;
            width: 100%;
        }
        & li {
            @include tablet{
                min-width: 215px;
            }
        }
        & li + li{
            @include mobile{
                margin-top: 15px;
            }
        }
        & li:not(:nth-child(1)):not(:nth-child(2)){
            @include tablet{
                margin-top: 30px;
            }
            @include mobile{
                margin-top: 15px;
            }
        }
    }
}