.form-contacts{

    &__title{
        font-size: 36px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin: 70px 0 ;
        @include tablet{
            flex-direction: column;
        }
        @include mobile{
            margin: 30px 0;
        }
        & .form-section__field + .form-section__field{
            @include tablet{
                margin-top: 20px;
            }
        }
    }
}