.form-submit{
    padding-bottom: 80px;
    @include mobile{
        padding-bottom: 35px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }
    &__button{
        width: 570px;
        @include tablet{
            width: 285px;
        }
        @include mobile{
            width: 100%;
        }
    }       
    &__description{
        margin-left: 80px;
        font-family: $arial;    
        color: $text-tertiary-color;
        @include mobile{
            margin-left: 0;
            margin-top: 25px;
            font-size: 14px;
        }
    }
}