.form-section{
    margin: 0;
    padding: 0;
    border: none;
    &__icon{
        position: absolute;
        right: 40px;
        transform: translate(100%);
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        @include reset-list;
        @include tablet{
            justify-content: space-between;
        }
    }
    &__field{
        position: relative;
        display: flex;
        align-items: center;
        width: 570px;

        @include tablet{
            width: 100%;
        }

        &--email input, &--phone input{
            padding-right: 50px;
        }
    }
    &__name{
        text-transform: uppercase;
        font-size: 20px;

        @include mobile{
            font-size: 16px;
        }
    }
    &__name + input{
        margin-left: 15px;
    }
    &__input{
        flex: 1;
        padding: 9px 20px;
        text-transform: uppercase;
        border: 1px solid $border-primary-color;
        font-size: 20px;
        line-height: 20px;

        @include mobile{
            width: 100%;
            font-size: 16px;
            line-height: 18px;
        }

        &:hover{
            border-color: $border-primary-color;
        }
        &:focus{
            outline: 2px solid;
        }
        &:focus + .form-section__icon{
            fill: $input-focus-icon-color;
        }
        &:focus:invalid{
            outline-color: $input-invalid-border-color
        }
        &:focus:required:valid{
            outline-color: $input-valid-border-color;
        }
        &:focus:invalid + .form-section__icon{
            fill: $input-invalid-border-color;
        }
    }
    &__radio, &__checkbox{
        & > span{
            display: flex;
            align-items: center;
        }
        & > span::before{
            content: '';
            flex-shrink: 0;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border: 1px solid $border-primary-color;
            @include mobile{
                width: 30px;
                height: 30px;
            }
        }
        & > input{
            position: absolute;
            z-index: -10;
            opacity: 0;
        }
    }
    &__radio{
        & > span::before{
            border-radius: 50%;
        }
        & > input:checked + span::before{
            background-image: $radio-circle-background;
            @include mobile{
                background-image: $radio-circle-mobile-background;
            }
        }
    }
    &__checkbox{
        & > input:checked + span::before{
            background: url('../img/vector/tick.svg') no-repeat center;
            background-size: 21px 16px;
        }
    }
    &__checkbox > input + span::before, &__radio > input + span::before{
        margin-right: 20px;
        @include mobile{
            margin-right: 15px;
        }
    }
    &__checkbox:hover > span::before, &__radio:hover > span::before{
        border-color: $input-hover-border-color;
    }
    &__checkbox > input:active + span, &__radio > input:active + span{
        border-color: $input-hover-border-color;
        opacity: $border-active-opacity;
    }
    &__textarea{
        padding: 20px;
        resize: none;
        text-transform: uppercase;
        border: 1px solid $border-primary-color;
        font-size: 20px;
        
        @include mobile{
            padding: 15px;
            font-size: 16px;
        }
    }
}