.form-section{
    margin: 0;
    padding: 0;

    border: none;

    &--cat-parameters{
        display: flex;
        & .form-section__field:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &--cat-programm{
        padding: 0 30px;

        border: 1px solid $border-primary-color;

        & .form-section__field{
            width: 510px;
        }
    }
    &__icon{
        position: absolute;
        right: 20px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 100%;

        @include reset-list;
    }
    &__field{
        position: relative;

        display: flex;
        align-items: center;

        width: 570px;
        &--email input, &--phone input{
            padding-right: 50px;
        }
    }
    &__name{
        text-transform: uppercase;

        font-size: 20px;
    }
    &__name + input{
        margin-left: 15px;
    }
    &__input{
        flex: 1;

        padding: 9px 20px;

        text-transform: uppercase;

        border: 1px solid rgba($color: $border-primary-color, $alpha: 0.5);
        

        font-size: 20px;
        line-height: 20px;

        &:hover{
            border-color: $border-primary-color;
        }
        &:focus{
            outline: 2px solid;
        }
        &:focus + .form-section__icon{
            fill: $input-focus-icon-color;
        }
        &:focus:invalid{
            outline-color: $input-invalid-border-color
        }
        &:focus:required:valid{
            outline-color: $input-valid-border-color;
        }
        &:focus:invalid + .form-section__icon{
            fill: $input-invalid-border-color;
        }
    }
    &__radio, &__checkbox{
        & > span{
            display: flex;
            align-items: center;
        }
        & > span::before{
            display: block;
            cursor: pointer;

            width: 40px;
            height: 40px;

            content: '';

            border: 1px solid $border-primary-color;
        }
        & > input{
            position: absolute;
            z-index: -10;

            opacity: 0;
        }
    }
    &__radio{
        & > span::before{
            border-radius: 50%;
        }
        & > input:checked + span::before{
            background-image: radial-gradient(#68b738 0,#68b738 9px,#fff 10px,#fff 100%);
        }
    }
    &__checkbox{
        & > input:checked + span::before{
            background: url('../img/vector/tick.svg') no-repeat center;
            background-size: 21px 16px;
        }
    }
    &__checkbox > input + span::before, &__radio > input + span::before{
        margin-right: 20px;
    }
    &__checkbox:hover > span::before, &__radio:hover > span::before{
        border-color: $input-hover-border-color;
    }
    &__checkbox > input:active + span, &__radio > input:active + span{
        border-color: $input-hover-border-color;
        opacity: $border-active-opacity;
    }
    &__textarea{
        padding: 20px;

        resize: none;
        text-transform: uppercase;

        border: 1px solid $border-primary-color;

        font-size: 20px;
    }
}