.page-header {
    position: relative;
    padding-top: 55px;
    &--index{
        min-height: 696px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-image{
        width: 202px;
        height: 59px;
        @include tablet{
            width: 173px;
            height: 58px
        }
    }
    &--index::before{
        content: '';
        position: absolute;
        z-index: -5;
        top: 0;
        bottom: 0;
        right: 0; 
        width: calc(50% - 40px);

        background: $promo-bg-color url('../img/raster/index-background-desktop.jpg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        @include tablet{
            content: none;
          }
    }
}
.main-nav {
    &__list {
        @include reset-list;
        display: flex;
        max-width: 480px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__item {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 20px;
        @include tablet{
            font-size: 18px;
        }
        &--active{
            border-bottom: 2px solid $nav-item-border-color;
            pointer-events: none;
            .page-header--index &{
                border-bottom: 2px solid $text-secondary-color;
                @include tablet {
                    border-bottom: 2px solid $nav-item-border-color;
                }
            }
        }

        &:hover{
            opacity: 0.6;
        }
        &:active{
            opacity: 0.3;
        }
        & a{
            text-decoration: none;
            color: $text-primary-color;
        }
        .page-header--index & a{
            color: $text-secondary-color;
            @include tablet{
                color: $text-primary-color;
            }
        }
        & + &  {
            margin-left: 35px;
        }
    }
}
.promo{
    margin-top: 40px;
    position: relative;
    @include tablet{
        min-height: 805px;
    }
    & .container{
        display: flex;
        @include tablet{
            display: block;
        }
    }
    &__wrapper{
        margin-left: 85px;
        width: 420px;
        @include tablet{
            margin-left: 70px;
        }
    }
    &__image{
        width: 552px;
        height: 499px;
        @include tablet{
            width: 709px;
            height: 609px;
            position: absolute;
            z-index: -5;
            top: 190px;
        }
    }
    &__title{
        margin: 0;
        margin-top: 90px;

        font-size:60px;
        line-height: 60px;
    }
    &__slogan{
        margin: 0;
        margin-top: 35px;
        
        font-size: 20px;
        @include tablet{
            text-transform: uppercase;
        }
    }
    &__button{
        margin-top: 50px;
    }
}