.page-header {
    position: relative;
    padding-top: 55px;
    @include mobile{
        padding-top: 0;
    }
    & .container{
        @include mobile{
            padding: 0;
        }
    }
    &--index{
        min-height: 696px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
    
        }    
    }
    &__inner{
        @include mobile{
            display: flex;
            width: calc(100% - 40px);
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            border-bottom: 1px solid $mobile-border-color;
            height: 65px;
            .page-header--index &{
                border-bottom: none;
            }
        }

    }
    &__logo-link{

        &:hover{
            opacity: 0.8;
        }
        &:active{
            opacity: 0.6;
        }
        @include mobile{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            &:before{
                content: '';
                background: url('../img/vector/logo-mobile.svg') no-repeat;
                width: 33px;
                height: 38px;
                flex-shrink: 0;
            }    
        }
    }
    &__logo-image{
        width: 202px;
        height: 59px;
        @include tablet{
            width: 173px;
            height: 58px
        }
        @include mobile{
            width: 101px;
            height: 18px;
            transform: translate(50%, 2px);
        }
    }
    &--index::before{
        content: '';
        position: absolute;
        z-index: -5;
        top: 0;
        bottom: 0;
        right: 0px; 
        width: 50%;

        background: $promo-bg-color url('../img/raster/index-background-desktop@1x.jpg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        @include retina{
            background: $promo-bg-color url('../img/raster/index-background-desktop@2x.jpg');
        }
        @include tablet{
            content: none;
          }
    }
}