.page-header {
    position: relative;
    padding-top: 55px;
    @include mobile{
        padding-top: 0;
    }
    & .container{
        @include mobile{
            padding: 0;
            // width: auto;
        }
    }
    &--index{
        min-height: 696px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
    
        }    
    }
    &__inner{
        @include mobile{
            display: flex;
            width: calc(100% - 40px);
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 1px solid $mobile-border-color;
            .page-header--index &{
                border-bottom: none;
            }
        }

        // &:after{
        //     @include mobile{
        //         content: 'asd';
        //         display: block;
        //         width: 100px;
        //         height: 15px;
        //         // position: absolute;
        //     }
        // }
    }
    &__logo-link{
        @include mobile{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            &:before{
                content: '';
                background: url('../img/vector/logo-mobile.svg') no-repeat;
                width: 33px;
                height: 38px;
                flex-shrink: 0;
            }    
        }
    }
    &__logo-image{
        width: 202px;
        height: 59px;
        @include tablet{
            width: 173px;
            height: 58px
        }
        @include mobile{
            width: 101px;
            height: 18px;
            transform: translate(50%, 2px);
        }
    }
    &--index::before{
        content: '';
        position: absolute;
        z-index: -5;
        top: 0;
        bottom: 0;
        right: 0px; 
        width: 50%;

        background: $promo-bg-color url('../img/raster/index-background-desktop.jpg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        @include tablet{
            content: none;
          }
        // @include mobile{
        //     content: "";
        //     right: 50%;
        //     transform: translate(50%, 100%);
        //     bottom: none;
        //     height: 305px;
        // }
    }
}
.main-nav {
    position: relative;
    @include mobile{
        width: 100%;
    }
    &__list {
        @include reset-list;
        // transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        display: flex;
        max-width: 480px;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include mobile{
            // flex-direction: row-reverse;
            // display: none;
            // transform: translate(0, -100%);
            // z-index: -100;
            max-height: 0;
            // opacity: 0;
            overflow: hidden;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: center;
            font-weight: 500;
            max-width: none;
        }
    }
    // &--closed &__list{
    //     @include mobile{
    //         display: none;
    //     }
    // }
    // &--opened &__list{
    //     @include mobile{
    //         display: flex;
    //     }
    // }
    &__item {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 20px;
        @include tablet{
            font-size: 18px;
        }
        @include mobile{
            border-top: 1px dashed $mobile-border-color;
            padding: 25px 0;
            &:first-child{
                border-top: none;
            }
            &:last-child{
                border-bottom: 1px solid $mobile-border-color;
            }
            .page-header--index &{
                border-bottom: none;
            }
            .page-header--index &:first-child{
                border-top: 1px dashed $mobile-border-color;
            }

        }
        &--active{
            border-bottom: 2px solid $nav-item-border-color;
            pointer-events: none;
            @include mobile{
                border-bottom: none;
            }
            .page-header--index &{
                border-bottom: 2px solid $text-secondary-color;
                @include tablet {
                    border-bottom: 2px solid $nav-item-border-color;
                }
                @include mobile{
                    border-bottom: none;
                }    
            }
        }

        &:hover{
            opacity: 0.6;
        }
        &:active{
            opacity: 0.3;
        }
        & a{
            text-decoration: none;
            color: $text-primary-color;
        }
        .page-header--index & a{
            color: $text-secondary-color;
            @include tablet{
                color: $text-primary-color;
            }
        }
        & + &  {
            margin-left: 35px;
            @include mobile{
                margin-left: 0;
            }
        }
    }
}
.promo{
    margin-top: 40px;
    position: relative;
    @include tablet{
        min-height: 805px;
    }
    @include mobile{
        margin-top: 0;
        padding-top: 30px;
        min-height: 0;
    }
    &::before{
        @include mobile{
            content: "";
            background: $promo-bg-mobile-color url('../img/raster/index-background-mobile.jpg') no-repeat;
            background-position: center;
            background-size: cover;
            height: 305px;
            position: absolute;
            top: 0;
            // bottom: -305px;
            // transform: translate(-25%, 100%);
            width: calc(100%);
            z-index: -10;

        }
    }
    & .container{
        display: flex;
        @include tablet{
            display: block;
        }
        @include mobile{
            padding: 0 20px;
        }
    }
    &__wrapper{
        position: relative;
        margin-left: 85px;
        width: 420px;
        @include tablet{
            margin-left: 70px;
        }
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            width: auto;
            text-align: center;
            color: $text-secondary-color;

        }
    }
    &__image{
        position: absolute;
        right: 55px;
        // bottom: 0;
        top: 0;
        transform: translate(100%);
        width: 552px;
        height: 499px;
        @include tablet{
            transform: translate(0);
            right: none;
            left: -100px;
            width: 709px;
            height: 609px;
            position: absolute;
            z-index: -5;
            top: 190px;
        }
        @include mobile{
            margin-top: 30px;
            position: static;
            width: 280px;
            height: 270px;
        }
    }
    &__title{
        margin: 0;
        margin-top: 90px;

        font-size:60px;
        line-height: 60px;
        @include mobile{
            font-size: 36px;
            line-height: 36px;
            margin-top: 0;
            max-width: 250px;
        }
    }
    &__slogan{
        margin: 0;
        margin-top: 35px;
        
        font-size: 20px;
        @include tablet{
            text-transform: uppercase;
        }
        @include mobile{
            font-size: 14px;
            margin-top: 20px;
        }
    }
    &__button{
        margin-top: 50px;
        @include mobile{
            width: 100%;
            order: 5;
        }
    }
}

.menu-toggle{
    display: none;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 15px;
    @include mobile{
        display: block;
    }
    &__inner{
        position: absolute;
        height: 3px;
        width: 24px;
        background: black; 
        top: 50%;
        margin-top: -1px;

        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: .22s;
        &::before, &::after{
            content: '';
            position: absolute;
            width: 24px;
            height: 3px;
            background: black;
        }
        &::before{
            top: -6px;
            
            transition: top .1s ease-in .25s,opacity .1s ease-in;
        }
        &::after{
            bottom: -6px;

            transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
        }
    }
    &--active{
        & .menu-toggle__inner{
            transform: rotate(225deg);

            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);

            &::before{
                top: 0;
                opacity: 0;

                transition: top .1s ease-out,opacity .1s ease-out .12s;
            }
            &::after{
                bottom: 0;
                transform: rotate(-90deg);

                transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
            }
        }
    }
}

// .header-toggle{
    // @include tablet{
    //     display: none;
    // }
//     @include mobile{
//         display: flex;
//         flex-direction: column;
//         & span{
//             height: 3px;
//             width: 24px;
//             display: block;
//             // margin: 3px auto;
//             position: relative;
//             background-color: black;
//         }
//         & span:first-child{
//             margin-bottom: 4px;
//         }
//         & span:last-child{
//             margin-top: 4px;
//         }
//     }
// }
.main-nav--no-js .main-nav__list, .main-nav--opened .main-nav__list{
    @include mobile{
        // transform: translate(0, 100%);
        // overflow: visible;
        max-height: 9000px;
        // transition: max-height 1s ease-in-out;

    }
}
