.page-footer{
    padding: 65px 0;
    background: $page-main-color;
    @include tablet{
        background: $page-secondary-color;
    }
    @include mobile{
        padding: 30px 0 20px 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }
    &__item{
        @include mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 60px;
            &:not(:last-child){
                border-bottom: 1px solid $mobile-border-color;
            }
        }

    }
    &__copyright{
        display: flex;
        align-items: center;
    }
    &__logo{
        &:hover{
            opacity: 0.8;
        }
        &:active{
            opacity: 0.6;
        }

    }
}
.social-list{
    @include reset-list;
    display: flex;
    align-items: center;
    & li + li{
        margin-left: 30px;
    }
    &__icon{
        fill: $footer-icon-color;
        &:hover{
            fill: $social-hover-color;
        }
        &:active{
            opacity: 0.3;
        }
    }
}
.copyright{
    &__link{
        fill: $footer-icon-color;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-primary-color;
        &:hover{
            fill: $social-hover-color;
        }
        &:active{
            opacity: 0.3;
        }
        @include mobile{
            width: 280px;
            justify-content: space-between;
        }
    }
    &__logo{
        margin-left: 25px;
    }
    &__title{
        color: $footer-icon-color;
        font-family: $arial;
    }
}